name: Daka

on:
  schedule:
    - cron: '32 0 * * *'
    - cron: '0 11 * * *'

jobs:
  daka:
    runs-on: ubuntu-latest

    env:
      FEMAS_DOMAIN: ${{ secrets.FEMAS_DOMAIN}}
      FEMAS_USERNAME: ${{ secrets.FEMAS_USERNAME }}
      FEMAS_PASSWORD: ${{ secrets.FEMAS_PASSWORD }}
      DELAY_START_MINS: ${{ secrets.DELAY_START_MINS }}
      DELAY_END_MINS: ${{ secrets.DELAY_END_MINS }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Daka gogo
        if: github.event.schedule == '32 0 * * *'
        run: node src/index.js S > result.md

      - name: Daka bye
        if: github.event.schedule == '0 11 * * *'
        run: node src/index.js E > result.md

      - name: Get the Daka meta
        id: daka
        run: |
          result=`cat ./result.md`

          if [[ $result == *"daka success"* ]]; then
            echo "Daka Success"
            echo "result=success" >> $GITHUB_OUTPUT
          elif [[ $result == *"not daka"* ]]; then
            echo "No Daka"
            echo "result=no need" >> $GITHUB_OUTPUT
          else
            echo "Daka Failed"
            echo "result=failed" >> $GITHUB_OUTPUT
          fi

          if [[ $result == *"gogo"* ]]; then
            echo "clock_type=gogo" >> $GITHUB_OUTPUT
          elif [[ $result == *"bye"* ]]; then
            echo "clock_type=bye" >> $GITHUB_OUTPUT
          fi

      - name: Create issue from file
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: Daka ${{ steps.daka.outputs.result }} ${{ steps.daka.outputs.clock_type }}
          content-filepath: ./result.md

      - name: Close issue while stale
        uses: actions/stale@v8
        with:
          stale-issue-message: 'Close stale issue'
          days-before-issue-stale: 0
          days-before-issue-close: 0
          days-before-pr-stale: -1
          days-before-pr-close: -1
