name: Daka

on:
  schedule:
    - cron: "0 0,11 * * *"

jobs:
  daka:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Let's Daka
        id: daka
        run: |
          result=$(node index.js)
          echo "$result" > result.md

          if [[ $result == *"daka success"* ]]; then
            echo "Daka Success"
            echo "::set-output name=result::success"
          elif [[ $result == *"not daka"* ]]; then
            echo "No Daka"
            echo "::set-output name=result::no need"
          else
            echo "Daka Failed"
            echo "::set-output name=result::failed"
          fi
        env:
          FEMAS_DOMAIN: ${{ secrets.FEMAS_DOMAIN}}
          FEMAS_USERNAME: ${{ secrets.FEMAS_USERNAME }}
          FEMAS_PASSWORD: ${{ secrets.FEMAS_PASSWORD }}
          DELAY_START_MINS: ${{ secrets.DELAY_START_MINS }}
          DELAY_END_MINS: ${{ secrets.DELAY_END_MINS }}
          IMMEDIATE_DAKA: ${{ secrets.IMMEDIATE_DAKA }}
          MAX_RETRY_COUNT: ${{ secrets.MAX_RETRY_COUNT }}

      - name: Get time with timezone
        id: time
        uses: nanzm/get-time-action@v1.1
        with:
          timeZone: 8
          format: "YYYY-MM-DD HH:mm"

      - name: Create issue from file
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: Daka ${{ steps.daka.outputs.result }} at ${{ steps.time.outputs.time }}
          content-filepath: ./result.md

      - name: Close issue while stale
        uses: actions/stale@v5
        with:
          stale-issue-message: "Close stale issue"
          days-before-issue-stale: 1
          days-before-issue-close: 0
          days-before-pr-stale: -1
          days-before-pr-close: -1
